
  body {
    background-position: right top;
    text-align: center;
    background-image: url('../images/canada.jpg');
    background-color: #cccccc;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 p{
  text-align: center;
  text-decoration: dotted;
  color: blueviolet;


 }
  h1{
    background-color:aquamarine;
    text-align: center;
    text-decoration: dotted;
  }
  h3{
    border-style: dotted;
    text-align: center;
    color:#4CAF50;
    background-color:pink;
  }
  header{ 
    background-color:skyblue;
    text-align:center; 
  }
  footer {
  background-color:skyblue;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
  
  ul {
    margin: 20px 30px 10px 20px; 
    padding: 80px;
  }

  li {
     border: thin solid rgb(32, 19, 150);
      background: rgba(0, 0, 255, 0.1); 
      text-align: center; 
      padding: 80px; 
      margin: 20px 30px 10px 20px; 
      list-style-type:circle; }
  
  .button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  
@media screen and (max-width: 992px) {
  body {
    background-color: rgb(62, 236, 65);
    color: white;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(133, 218, 247);
    color: white;
  }
  
}